In [1]:
# take two different 2 Strings and disply largest string Without using built-in Functions
# Example Strings are : 1)Python_Workshop 2.APSSDC

In [3]:
s1 = input("Enter 1st String:")
s2 = input("Enter 2nd String:")

count1 = 0
count2 = 0

for i in s1:
    count1 = count1+1
for j in s2:
    count2 = count2+1

if count1<count2:
    print("Largest String is:")
    print(s2)
elif count1 == count2:
    print("Both strings are equal")
else:
    print("Largest String is:")
    print(s1)

Enter 1st String:pythonworkshop
Enter 2nd String:APSSDC
Largest String is:
pythonworkshop

In [5]:
a="python"
b="apssdc Ap"
if a>b:
    print(a)
else:
    print (b)

python

#### Today's Content

### Lists
### Tuple

### List
- List is group of elements to store differnet data types
- Seperated values between sqare brackets[]
- List are mutable (Changable Data)
- denoted with [] or list[]

In [7]:
a = [] # Empty List

In [8]:
print(type(a))

<class 'list'>

In [9]:
s = [1,2,3,'Prasanna Raj','Satheesh',10.2,'1429','2422','Avinash'] # Non Empty list

In [10]:
print(s)

[1, 2, 3, 'Prasanna Raj', 'Satheesh', 10.2, '1429', '2422', 'Avinash']

In [12]:
# Forward Indexing
# Backwrd Indexing
print(s[4])
print(s[3])

Satheesh
Prasanna Raj

In [13]:
#Slicing
s[3:8]

['Prasanna Raj', 'Satheesh', 10.2, '1429', '2422']

In [14]:
s[::-1] # Reverse

['Avinash', '2422', '1429', 10.2, 'Satheesh', 'Prasanna Raj', 3, 2, 1]

In [15]:
s1 = [2422,1429,26,14]
print(s)
print(s1)

[1, 2, 3, 'Prasanna Raj', 'Satheesh', 10.2, '1429', '2422', 'Avinash']
[2422, 1429, 26, 14]

In [16]:
result = s+s1

In [17]:
print(result)

[1, 2, 3, 'Prasanna Raj', 'Satheesh', 10.2, '1429', '2422', 'Avinash', 2422, 1429, 26, 14]

In [18]:
dir(s1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

#### append() -  to insert values or list in the list

In [19]:
print(s)

[1, 2, 3, 'Prasanna Raj', 'Satheesh', 10.2, '1429', '2422', 'Avinash']

In [23]:
s.append("Ramu")

In [21]:
print(s)

[1, 2, 3, 'Prasanna Raj', 'Satheesh', 10.2, '1429', '2422', 'Avinash', 'Ramu']

In [24]:
print(s)

[1, 2, 3, 'Prasanna Raj', 'Satheesh', 10.2, '1429', '2422', 'Avinash', 'Ramu', 'Ramu']

In [25]:
s.append(['Python','Machine Learning','Flask','Django'])

In [26]:
print(s)

[1, 2, 3, 'Prasanna Raj', 'Satheesh', 10.2, '1429', '2422', 'Avinash', 'Ramu', 'Ramu', ['Python', 'Machine Learning', 'Flask', 'Django']]

In [34]:
s[11][2]

'Flask'

In [28]:
len(s)

12

In [35]:
# extend() - to insert values individual values to the list
print(s)

[1, 2, 3, 'Prasanna Raj', 'Satheesh', 10.2, '1429', '2422', 'Avinash', 'Ramu', 'Ramu', ['Python', 'Machine Learning', 'Flask', 'Django']]

In [36]:
s.extend([7,8,9,10])
print(s)

[1, 2, 3, 'Prasanna Raj', 'Satheesh', 10.2, '1429', '2422', 'Avinash', 'Ramu', 'Ramu', ['Python', 'Machine Learning', 'Flask', 'Django'], 7, 8, 9, 10]

In [37]:
s.append([11,12,13,14])
print(s)

[1, 2, 3, 'Prasanna Raj', 'Satheesh', 10.2, '1429', '2422', 'Avinash', 'Ramu', 'Ramu', ['Python', 'Machine Learning', 'Flask', 'Django'], 7, 8, 9, 10, [11, 12, 13, 14]]

In [38]:
# clear() - used to remove all values in list
s.clear()

In [39]:
print(s)

[]

In [40]:
s1

[2422, 1429, 26, 14]

In [41]:
# pop() - used to remove last index values of the list

In [42]:
s1.pop()

14

In [45]:
print(s1)

[2422, 26]

In [44]:
s1.pop(1)

1429

In [48]:
# copy() - used to get a duplicate list of particular list
s1

[2422, 26, 'Prasanna']

In [47]:
s1.append('Prasanna')

In [49]:
s = s1

In [50]:
print(s)
print(s1)

[2422, 26, 'Prasanna']
[2422, 26, 'Prasanna']

In [51]:
res= s1.copy()

In [52]:
print(s1)

[2422, 26, 'Prasanna']

In [53]:
print(res)

[2422, 26, 'Prasanna']

In [55]:
s1.append("Satheesh")

In [56]:
s1

[2422, 26, 'Prasanna', 'Satheesh']

In [57]:
res

[2422, 26, 'Prasanna']

In [58]:
res[1] = 'RAZ'

In [59]:
print(res)

[2422, 'RAZ', 'Prasanna']

In [60]:
a = [1,2,3,1,2,3,1,3,6,4,6,85,9,1,552,22]

In [61]:
# count() - used to count occurances of values

a.count(22)

1

In [62]:
a.count(1)

4

In [64]:
a.count(3)

3

In [72]:
a.index(9,1)

12

In [66]:
print(a)

[1, 2, 3, 1, 2, 3, 1, 3, 6, 4, 6, 85, 9, 1, 552, 22]

In [73]:
# insert() - used to insert the values to be list based on index

a

[1, 2, 3, 1, 2, 3, 1, 3, 6, 4, 6, 85, 9, 1, 552, 22]

In [74]:
a.insert(-1,2422)

In [75]:
print(a)

[1, 2, 3, 1, 2, 3, 1, 3, 6, 4, 6, 85, 9, 1, 552, 2422, 22]

In [76]:
a.insert(5,26)

In [82]:
print(a)

[1, 2, 3, 1, 2, 26, 3, 1, 3, 6, 4, 6, 85, 9, 1, 552, 2422, 789, 22, 789]

In [78]:
len(a)

18

In [81]:
a.insert(19,789)

In [85]:
# Remove() 

a.remove(0)

ValueError: list.remove(x): x not in list

In [94]:
a

[3, 1, 26, 3, 1, 3, 6, 4, 6, 85, 9, 1, 552, 2422, 22, 789]

In [93]:
a.remove(2)

In [95]:
# sort() - Orerding the data 

a.sort()

In [96]:
print(a)

[1, 1, 1, 3, 3, 3, 4, 6, 6, 9, 22, 26, 85, 552, 789, 2422]

In [97]:
a.reverse()

In [98]:
print(a)

[2422, 789, 552, 85, 26, 22, 9, 6, 6, 4, 3, 3, 3, 1, 1, 1]

In [99]:
a.sort(reverse=True)

In [100]:
print(a)

[2422, 789, 552, 85, 26, 22, 9, 6, 6, 4, 3, 3, 3, 1, 1, 1]

In [1]:
# Task 

# to take a list and print the second largest number in the list

# 24,59,26,1 -----------> 26 O/P


a = []

n = int(input("Enter no of elements:"))
for i in range(1,n+1):
    b = int(input("Enter elemnts"))
    a.append(b)
a.sort()
print("second largest number in the list:",a[n-2])

Enter no of elements:3
Enter elemnts1
Enter elemnts99
Enter elemnts63
second largest number in the list: 63

In [ ]:
# Assginment Task

# Sample input data :  a = "20,30,prasannaraj,ramu,avinash,10,satheesh,40"

# Output is : [prasannaraj,satheesh,ramu,avinash],[10,20,30,40]