In [2]:
# ASsignment 1

# square values using dict 
# given range(100+1)
# Sample o/P is : {0:0,1:2,2:4,...........100:1000}

a = {}
for i in range(101):
    s = {i:i*i} # {Key:Value}
    a.update(s)
    print(s)

{0: 0}
{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}
{9: 81}
{10: 100}
{11: 121}
{12: 144}
{13: 169}
{14: 196}
{15: 225}
{16: 256}
{17: 289}
{18: 324}
{19: 361}
{20: 400}
{21: 441}
{22: 484}
{23: 529}
{24: 576}
{25: 625}
{26: 676}
{27: 729}
{28: 784}
{29: 841}
{30: 900}
{31: 961}
{32: 1024}
{33: 1089}
{34: 1156}
{35: 1225}
{36: 1296}
{37: 1369}
{38: 1444}
{39: 1521}
{40: 1600}
{41: 1681}
{42: 1764}
{43: 1849}
{44: 1936}
{45: 2025}
{46: 2116}
{47: 2209}
{48: 2304}
{49: 2401}
{50: 2500}
{51: 2601}
{52: 2704}
{53: 2809}
{54: 2916}
{55: 3025}
{56: 3136}
{57: 3249}
{58: 3364}
{59: 3481}
{60: 3600}
{61: 3721}
{62: 3844}
{63: 3969}
{64: 4096}
{65: 4225}
{66: 4356}
{67: 4489}
{68: 4624}
{69: 4761}
{70: 4900}
{71: 5041}
{72: 5184}
{73: 5329}
{74: 5476}
{75: 5625}
{76: 5776}
{77: 5929}
{78: 6084}
{79: 6241}
{80: 6400}
{81: 6561}
{82: 6724}
{83: 6889}
{84: 7056}
{85: 7225}
{86: 7396}
{87: 7569}
{88: 7744}
{89: 7921}
{90: 8100}
{91: 8281}
{92: 8464}
{93: 8649}
{94: 8836}
{95: 9025}
{96: 9216}
{97: 9409}
{98: 9604}
{99: 9801}
{100: 10000}

In [4]:
# Another way

a =100
s = {}
for i in range(1,a+1):
    s[i] = i*i
print(s)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [7]:
# Assginment 2

# odd number squares 
# range(10)
# Sample o/P is : {1:1,3:9,...........9}

d = {}
for i in range(100):
    if i%2!=0:
        d[i] = i**2
print(d)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81, 11: 121, 13: 169, 15: 225, 17: 289, 19: 361, 21: 441, 23: 529, 25: 625, 27: 729, 29: 841, 31: 961, 33: 1089, 35: 1225, 37: 1369, 39: 1521, 41: 1681, 43: 1849, 45: 2025, 47: 2209, 49: 2401, 51: 2601, 53: 2809, 55: 3025, 57: 3249, 59: 3481, 61: 3721, 63: 3969, 65: 4225, 67: 4489, 69: 4761, 71: 5041, 73: 5329, 75: 5625, 77: 5929, 79: 6241, 81: 6561, 83: 6889, 85: 7225, 87: 7569, 89: 7921, 91: 8281, 93: 8649, 95: 9025, 97: 9409, 99: 9801}

In [8]:
d = {i:i**2 for i in range(1,10,2)}
print(d)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [14]:
a = 'prasannaraj,satheesh,ramu,avinash,10,20,30,40'
l = a.split(',')
names = []
numbers = []
for i in l:
    if i.isdigit():
        numbers.append(int(i))
    elif i.isalpha():
        names.append(i)
    
print(names)
print(numbers)

['prasannaraj', 'satheesh', 'ramu', 'avinash']
[10, 20, 30, 40]

In [15]:
names

['prasannaraj', 'satheesh', 'ramu', 'avinash']

In [18]:
max(names)

'satheesh'

In [19]:
min(names)

'avinash'

In [22]:
a = ['APSSDC','SDC','Python','Python Workshop','sdc']

a.sort()
print(a)

['APSSDC', 'Python', 'Python Workshop', 'SDC', 'sdc']

#### Today' Topics
### Python sets

- What is Set?
    - sets are denoted with {}
     - python set is collection which is unordered and unidexed
     - sets are not allowing duplicate data
     - syntax is : {1,2,3,'APSSDC',1,2,3,'SDC','APSSDC'}
     - list of elements seperated by comma

In [23]:
a = {}
type(a)

dict

In [24]:
a = {1,2,3,'APSSDC',1,2,3,'SDC','APSSDC'}
print(a)

{'SDC', 1, 2, 3, 'APSSDC'}

In [25]:
print(type(a))

<class 'set'>

In [26]:
for i in a:
    print(i)

SDC
1
2
3
APSSDC

In [29]:
print(10 in a)

False

In [30]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [31]:
# add()
print(a)

{'SDC', 1, 2, 3, 'APSSDC'}

In [40]:
a1 = {1,2,3,"SDC","APSSDC"}

In [41]:
a1

{1, 2, 3, 'APSSDC', 'SDC'}

In [42]:
a1.add("Python")

In [43]:
print(a1)

{'SDC', 1, 2, 3, 'APSSDC', 'Python'}

In [44]:
# Update()
a1.update(['ML','DS','AI','Django'])
print(a1)

{'SDC', 1, 2, 3, 'Django', 'APSSDC', 'ML', 'AI', 'Python', 'DS'}

In [45]:
len(a1)

10

In [46]:
# remove(particular elament)

a1.remove('Django')

In [52]:
a1

{1, 2, 3, 'AI', 'APSSDC', 'DS', 'ML', 'Python'}

In [53]:
a1.remove("AI")

In [54]:
a1.discard('Python')

In [55]:
a1

{1, 2, 3, 'APSSDC', 'DS', 'ML'}

In [56]:
a1.discard()

TypeError: discard() takes exactly one argument (0 given)

In [58]:
a1.pop(3)

TypeError: pop() takes no arguments (1 given)

In [59]:
print(a1)

{2, 3, 'APSSDC', 'ML', 'DS'}

In [60]:
a1.clear()

In [61]:
a1

set()

In [62]:
a1.popitem()

AttributeError: 'set' object has no attribute 'popitem'

In [63]:
a1

set()

In [64]:
del a1

In [65]:
print(a1)

NameError: name 'a1' is not defined

In [66]:
a ={1,2,3}

In [67]:
a.clear()

In [68]:
a

set()

In [69]:
del a

In [70]:
a

NameError: name 'a' is not defined

In [71]:
s = {1,2,30,40,5,6,7,10}

# union() - returns a new set with all the items stored from botn sets

s1 = {"Prasanna raj",'Satheesh','APSSDC'}

s3 = s.union(s1)

print(s3)

{1, 2, 5, 6, 7, 40, 'APSSDC', 10, 'Prasanna raj', 'Satheesh', 30}

In [72]:
print(s)

{1, 2, 5, 6, 7, 40, 10, 30}

In [74]:
print(s1)
dir(s1)

{'Satheesh', 'APSSDC', 'Prasanna raj'}

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [75]:
# Task
a = {1,2,3,4,5,6,7,8,91,2,3,4,7,8,9,10}

# removed the values 7,8,9,1,5,6
# remaing set values display(print)
# Output is : {2,3,4,10,91}



print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 91}

In [76]:
removed={7,8,9,1,5,6}
res = a-removed
print(res)

{2, 3, 4, 10, 91}

In [78]:
#print(a)
a.difference({7,8,9,1,5,6})

{2, 3, 4, 10, 91}

In [79]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 91}

In [80]:
removed

{1, 5, 6, 7, 8, 9}

In [81]:
for i in removed:
    a.remove(i)
print(a)

{2, 3, 4, 10, 91}

In [84]:
print(a)

{2, 3, 4, 10, 91}

In [90]:
a = {1,2,3,4,5,6,7,8,91,2,3,4,7,8,9,10}

In [91]:
a.discard({7,8,9,1,5,6})

In [92]:
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 91}

In [1]:
abc = {1,2,3,4,5,6,7,8,91,2,3,4,7,8,9,10}

In [2]:
print(abc)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 91}

In [3]:
abc.discard({7,8,9,1,5,6})

In [4]:
print(abc)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 91}

In [5]:
abc.intersection()

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 91}

In [6]:
a

NameError: name 'a' is not defined

In [7]:
abc

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 91}

In [9]:
a = {1,2,3,4,5,6,7}
print(a)

{1, 2, 3, 4, 5, 6, 7}

In [10]:
print(abc & a)

{1, 2, 3, 4, 5, 6, 7}

In [11]:
abc.intersection(a)

{1, 2, 3, 4, 5, 6, 7}

In [12]:
print(abc - a)

{8, 9, 10, 91}

In [13]:
abc.difference(a)

{8, 9, 10, 91}

In [16]:
abc.difference(a)

{8, 9, 10, 91}

In [17]:
# symmetric_Difference
print(abc)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 91}
{1, 2, 3, 4, 5, 6, 7}

In [18]:
abc.symmetric_difference(a)

{8, 9, 10, 91}

In [19]:
print(abc,a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 91} {1, 2, 3, 4, 5, 6, 7}

In [20]:
a.symmetric_difference(abc)

{8, 9, 10, 91}

In [21]:
print(abc.issubset(a))

False

In [22]:
a = [1,2,30]

min(a)

1

In [23]:
max(a)

30

In [27]:
a = ['Prasanna','Avinash','Satheesh']

print(min(a))

Avinash

In [28]:
max(a)

'Satheesh'

In [30]:
a.remove('Prasanna')

In [31]:
print(a)

['Avinash', 'Satheesh']